@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

@layer components {
    .list {
        @apply transition-all duration-200 ease-in-out hover:text-white hover:scale-110;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        /* --foreground-rgb: 0, 0, 0; */
        /* --background-start-rgb: 214, 219, 220; */
        /* --background-start-rgb: 255, 255, 255; */
        /* --background-end-rgb: 255, 255, 255; */
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    min-height: 100vh;
    /* color: rgb(var(--foreground-rgb)); */
    color: #bbc4c4;
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    box-sizing: border-box;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.animated-p {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.video-comp {
    padding: 2rem;
}

.iframe-style {
    height: 52rem;
}

.footer {
    padding: 5rem 10rem 0 10rem;
}
